$background: #212735;
$color: #fff;
$errorMes: #E13145;
$logoColor: #ffd102;
$menuColor: #0078D2;
$menuColorHover: #47BBF2;
$bgItem: lighten(#212735, 4);
$bgItemBorder: 1px solid lighten(#212735, 10);
$ItemHover: lighten(#212735, 10);