.error-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #E13145;

  h1 {
    text-transform: upperCase;
    font-size: 2rem;
    margin: 0.7rem 0 0.4rem;
  }

  span {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}
